<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forecast summary</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Forecast summary</h1>

    <table cellspacing="0">

        <tr class="header-row">
            <th>Day</th>
            <th th:each="merchantName: ${merchants}">[[${#strings.replace(merchantName, '_', ' ')}]]</th>
        </tr>

        <tr th:each="entry: ${dailyEntries}" th:class="${entryStat.odd ? 'table-row-odd' : 'table-row-even'}">
            <td>[[${#temporals.format(entry.getForecastDay(),'EE dd-MM-yyyy')}]]</td>
            <td th:each="merchantName: ${merchants}">£[[${#numbers.formatDecimal(entry.getAmountForMerchant(merchantName), 1, 'COMMA', 2, 'POINT')}]]</td>
        </tr>

    </table>
</body>
</html>