<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forecast summary</title>
</head>
<body>
    <h1>Forecast summary</h1>

    <table>

        <tr>
            <th><span>Day</span></th>
            <th th:each="merchantName: ${merchants}">[[${#strings.replace(merchantName, '_', ' ')}]]</th>
        </tr>

        <tr th:each="entry: ${dailyEntries}">
            <td>[[${entry.getForecastDay()}]]</td>
            <td th:each="merchantName: ${merchants}">[[${entry.getAmountForMerchant(merchantName)}]]</td>
        </tr>

    </table>
</body>
</html>